alembic==1.9.1
bcrypt==4.0.1
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
charset-normalizer==3.0.1
click @ file:///C:/ci/click_1646038595831/work
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
Deprecated==1.2.13
Flask @ file:///C:/b/abs_ef16l83sif/croot/flask_1671217367534/work
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-Migrate==4.0.1
Flask-SQLAlchemy==3.0.2
googlemaps==4.7.3
greenlet==2.0.1
idna==3.4
importlib-metadata @ file:///C:/ci/importlib-metadata_1648562621412/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jaconv==0.3.3
Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work
Mako==1.2.4
MarkupSafe @ file:///C:/ci/markupsafe_1654508077284/work
numpy==1.24.1
pandas==1.5.2
Pillow==9.4.0
pykakasi==2.2.1
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.7
requests==2.28.2
six==1.16.0
SQLAlchemy==1.4.46
tqdm==4.64.1
urllib3==1.26.14
Werkzeug @ file:///C:/b/abs_17q5kgb8bo/croot/werkzeug_1671216014857/work
wincertstore==0.2
wrapt==1.14.1
WTForms==3.0.1
zipp @ file:///C:/b/abs_b9jfdr908q/croot/zipp_1672387552360/work
